%html
  %head
    %title
      ScrewUnit Examples
    %script{ :src => "/scripts/jquery.js", :type => "text/javascript" }
    %style{ :type => 'text/css'}
      :sass
        div
          font-size: 5em
    :javascript
      $(document).ready( function() {
        $('#shrub').hide();
        $('#bring').click( function(e) {$('#shrub').toggle()} );
      });
  %body
    %h1
      Test
    %p
      #bring
        Bring us a ...
      #shrub
        shrubbery!
