<html>
  <head>
    <title>Example 1</title>
    <script type='text/javascript' src='/scripts/jquery.js'></script>
    <style type='text/css'>
      p {
        font-size: 10em
      }
    </style>
    <script type='text/javascript'>
      $(document).ready( function() {
        $('#shrub').hide();
        $('#bring').click( function(e) {$('#shrub').toggle()} );        
      });
    </script>
  </head>
  <body>
    <h1>Test</h1>
    <p><span id='#bring'>Bring us a ...<span id='#shrub'>shrubbery!</span></p>
  </body>
</html>